/* common styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    color: #fff;
    border: none;
}

/* header styles */
.header {
    background-color: #E554731A;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    padding: 50px 0px 0px 0px;
    gap: 50px;
}

.header-flower {
    width: 400px;
}

.header-info {
    margin-left: 180px;

}

.header-image {
    margin-right: 180px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 30px;
}

/* feature flower styles */
.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-top: 200px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.feature-flower-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0px 150px;

}

.feature-flower1 {
    background-color: #A7216226;
    width: 200px;
    padding: 110px 65px 0px;
    border-radius: 300px 300px 0px 0px;
    margin: 10px;
}

.feature-flower2 {
    background-color: #0597A026;
    width: 200px;
    padding: 110px 65px 85px;
    border-radius: 300px 300px 0px 0px;
    margin: 10px;

}

.feature-flower3 {
    background-color: #477D1126;
    width: 200px;
    padding: 110px 65px 0px;
    border-radius: 300px 300px 0px 0px;
    margin: 10px;
    height: 290px
}

.feature-flower-description {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* hot deal styles */
.hot-deal {
    background-color: #E554730D;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 200px;
}

.hot-deal-title {
    color: #272727;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 25px;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
}
.hot-deal-photo{
    height: 350px;
    width: 300px
}
.hot-deal-details{
    text-align: center;
    margin-right: 100px;
}